@import "./style.css";

.mainContainer {
    display: grid;
    grid-template-areas:
        "title"
        "splash"
        "latestPost"
        "olderPosts"
        "footer"
}

nav {
    grid-area: title;
}

.splash {
    grid-area: splash;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    border-bottom-style: solid;
    border-bottom-color: #111;
    border-bottom-width: 1px;
    background-color: #ccc;
    background: url("../images/bench.jpg") no-repeat center;
    background-size: cover;
}

#splashText {
    grid-column: 2/3;
    grid-row: 2/3;
    opacity: 1.0;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.latestPost {
    grid-area: latestPost;
}

.olderPostContainer {
    grid-area: olderPosts;
    display: grid;
    margin-bottom: 10px;
}

#PCB {
    background-image: url("../images/pcb1_ls.jpg");
}

#ostrich {
    background-image: url("../images/ostrichgraveyard_ls.jpg");
}

#windupdoll {
    background-image: url("../images/windupddollkey_ls.jpg");
}

#neonbulb {
    background-image: url("../images/lightbulb_ls.jpg");
}

#pumpkincookies {
    background-image: url("../images/cookies_ls.jpg");
}

#catinthehat {
    background-image: url("../images/catinthehat_ls.jpg");
    background-position: top;
}


.itemImage {
    background-size: cover;
    background-position: center;
    height: 200px;
    border: 1px solid #031927;
}

footer {
    grid-area: footer;
}

@media (min-width: 576px) {

    #splashText {
        font-size: 1.5em;
    }

    .olderPostContainer {
        grid-template-columns: 1fr 1fr;
    }

}

/*@media (min-width: 768px) {

    #splashText {
        font-size: 1.5em;
    }

    .olderPostContainer {
        grid-template-columns: 1fr 1fr;
    }

}*/

@media (min-width: 992px) {

    #splashText {
        font-size: 2em;
    }

    .olderPostContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (min-width: 1200px) {

    .olderPostContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}