@import "./style.css";

.mainContainer {
	display: grid;
	grid-template-areas:
	"title"
	"latestPost"
	"bottomNav"
}

.mainTitle {
    grid-area: title;
}

.navbar {
    grid-area: title;
}



.latestPost {
	grid-area: latestPost;
}



.bottomNav {
	grid-area: bottomNav;
}