html {}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E3E3E3;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 2em;
    color: #E3E3E3;
    padding-right: 10px;
    padding-left: 20px;
    margin: 0;
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    padding: 20px 30px;
    margin: 0;
    color: #fff;
}

/*used for project card titles*/
h3 {
    padding: 5px 0;
    margin: 0;
    font-weight: bold;
    font-size: 1em;
    color: #BA1200;
}

/*used for categories*/
h4 {
    font-size: 0.75em;
    color: #15616D;
    margin-bottom: 0px;
}

/* used for .follow (Read more...) */
h5 {
    color: #15616D;
    text-decoration: none;
    margin: 0;
}

h5 a {
    color: #15616D;
    text-decoration: none;
    font-style: italic;

}

p {
    margin-left: 1em;
    margin-right: 1em;
}

em {
    font-style: italic;
}

hr {

    width: 60%;
    height: 2px;
    color: gray;
}

figcaption {
    font-weight: lighter;
    font-style: italic;
    font-size: small;
}

blockquote {
	font-style: italic;
	font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #E3E3E3;
    padding: 10px 20px 10px 20px;
    margin: 0 20px 0 20px;
    background-color: #15616D;
}

.recipe {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    max-width: 300px;
    margin-bottom: 20px;

}

.recipe li {
    float: none;
    font-weight: normal;
    /*font-family: 'Montserrat', sans-serif;*/
}

.recipeTitle {
    font-size: large;
}


/*  navbar styling here  */

/*.navbar {*/
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /*background-color: #BA1200;*/
    background-color: #031927;

    padding: 10px;
    border-bottom-style: solid;
    border-bottom-color: #F18F01;
    border-bottom-width: 4px;
}

ul {
    list-style-type: none;
    padding-left: 10px;
    /*display: inline-block;*/
}

li {
    float: left;
    font-weight: bold;
}

li a {
    color: #E3E3E3;
    margin-right: 1em;
    text-decoration: none;
    border-radius: 30px;
}

.active {
    /*color: #031927;*/
    color: #15616D;

}

li a:hover:not(.active) {
    color: #F18F01;
}

/* end navbar styling */


/* project card styling here */

.olderPost {
    border-radius: 5px;
    padding: 10px;
    margin: 5px 10px;
    background-color: #E3E3E3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

    display: grid;
    align-content: start;
    grid-template-rows: repeat(4, auto) 1fr auto;
    border: 3px solid #031927;
}

.olderPost:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.follow {
    grid-row-start: 6;
    margin-top: auto;
}

/* end project card styling */

/* start footer styling */

footer {
	display: flex;
	justify-content: space-between;
    align-items: center;
    background-color: #031927;
    padding: 10px;
    border-top-style: solid;
    border-top-color: #F18F01;
    border-top-width: 4px;
    min-height: 100px;
}

.socialMedia {
	margin-right: 20px;
}

footer ul {
}